.vscode
.DS_Store

.env
data/*.json

__pycache__
.venv
.uv-cache

.pytest_cache
.hypothesis
.hegel
dump.rdb

env.dart
.flutter-plugins-dependencies
.dart_tool
.idea
build
android
ios
linux
macos
web
windows

experiments_old

target
